<%= tag.div base_attributes.merge(class: 'relative border-2 rounded-lg') do %>
  <div x-bind="header">
    <%= header %>
  </div>
  <div class="mt-2 rounded-lg overflow-hidden" x-bind="body" x-cloak>
    <%= body %>
  </div>
<% end %>
